# --- OS Junk ---
.DS_Store
._*

# --- IDE & Build System ---
.idea/
build/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# --- Python ---
__pycache__/
*.py[cod]

# --- Compiled Binaries & Objects ---
*.o
*.obj
*.dis
*.elf
*.raw
*.map
*.hex

# --- ROM Files ---
*.sfc
*.smc
*.nes
*.gb
*.gbc
*.gba
*.n64
*.z64
*.v64
*.nds
*.iso
*.rom
