[submodule "Cpp/toml11"]
	path = Cpp/toml11
	url = https://github.com/ToruNiina/toml11.git
[submodule "Programs/retro-go"]
	path = Programs/retro-go
	url = https://github.com/Chreeperfighter/retro-go.git
